[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pytest-django = "*"
httpx = "*"
black = "*"
flake8 = "*"
python-dotenv = "*"
pytest-cov = "*"
ruff = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
celery = "*"
redis = "*"
flower = "*"
django-celery-beat = "*"

[dev-packages]

[requires]
python_version = "3.13"
